<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Images</key>
	<array>
		<dict>
			<key>imageName</key>
			<string>海岸</string>
			<key>image</key>
			<string>IMG_4638</string>
		</dict>
		<dict>
			<key>imageName</key>
			<string>ホテル01</string>
			<key>image</key>
			<string>IMG_4706</string>
		</dict>
		<dict>
			<key>imageName</key>
			<string>ホテル02</string>
			<key>image</key>
			<string>IMG_4718</string>
		</dict>
		<dict>
			<key>imageName</key>
			<string>プール</string>
			<key>image</key>
			<string>IMG_6491</string>
		</dict>
		<dict>
			<key>imageName</key>
			<string>ビーチ</string>
			<key>image</key>
			<string>IMG_6496</string>
		</dict>
		<dict>
			<key>imageName</key>
			<string>田園</string>
			<key>image</key>
			<string>IMG_6507</string>
		</dict>
		<dict>
			<key>imageName</key>
			<string>高原</string>
			<key>image</key>
			<string>IMG_6508</string>
		</dict>
		<dict>
			<key>imageName</key>
			<string>猫</string>
			<key>image</key>
			<string>IMG_6573</string>
		</dict>
		<dict>
			<key>imageName</key>
			<string>夕日</string>
			<key>image</key>
			<string>IMG_6585</string>
		</dict>
		<dict>
			<key>imageName</key>
			<string>街中</string>
			<key>image</key>
			<string>IMG_6595</string>
		</dict>
		<dict>
			<key>imageName</key>
			<string>水田</string>
			<key>image</key>
			<string>IMG_6598</string>
		</dict>
		<dict>
			<key>imageName</key>
			<string>寺院</string>
			<key>image</key>
			<string>IMG_6601</string>
		</dict>
	</array>
</dict>
</plist>
